<div class="container-fluid text-center bg-primary text-white">
    <h1>Editar producto</h1>
</div>
<div class="container">
    <form class="form-control" #f="ngForm" (ngSubmit)="f.form.valid && onGuardar()">
        <div class="row">
            <div class="col">
                <label for="">Codigo</label>
                <input type="text" name="codigo" class="form-control" [(ngModel)]="codigo" ngModel required="required" disabled>
            </div>
            <div class="col">
                <label for="">Descripción</label>
                <input type="text" name="descripcion" class="form-control" [(ngModel)]="descripcion" ngModel required="required">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Imagen</label>
                <input type="text" name="imagen" class="form-control" [(ngModel)]="imagen" placeholder="Url de imagen" ngModel>
            </div>
            <div class="col">
                <label for="">Iva</label>
                <input class="form-control" name="iva" type="number" [(ngModel)]="iva" placeholder="%" ngModel required="required">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-content-center flex-wrap">
                <div class="form-check">
                    <input class="form-check-input" name="venta" type="checkbox" [(ngModel)]="valido" ngModel>
                    <label class="form-check-label" for="gridCheck">
                    Valido para la venta
                    </label>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <button type="button"  class="btn btn-danger fs-4" (click)="agregarPrecio()">+</button>
        </div>
        <div class="row">
            <div class="col">
                <span class="align-middle">Precio</span>
            </div>
            <div class="col">
                <input type="number" class="form-control" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="row mt-2" *ngFor="let precio of precios; let i = index">
            <div class="col-2">
                <span>${{precio}}</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning" (click)="eliminarPrecio(i)">-</button>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Esta seguro de eliminar este producto?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" (click)="eliminarProducto()" data-bs-dismiss="modal" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="width:85px;" class="ms-auto mt-2">
                    <input class="btn btn-success" type="submit" value="Guardar">
                </div>
            </div>
        </div>
    </form>
</div>